body {
  border-top: 3px solid #418ecc;
  background: image-url('bg.png') #fff;
}

header.show-for-large-up {
  background: #fff;
}

header {
  margin-bottom: 30px;
}

.bottom-space {
  margin-bottom: 20px;
}

.primary-bg {
  background: $primary-color;
}

.space-sides {
  margin-left: 10px;
  margin-right: 10px;
}

.body-content {
  margin-top: -29px;
  margin-bottom: 30px;
  background: #fff;
}

.main-area {
  padding-top: 25px;
  padding-bottom: 60px;
}

.secondary {
  color: $secondary-color;
}

.no-margin {
  margin: 0px !important;
}

.no-bottom {
  margin-bottom: 0px !important;
}

.breadcrumbs .current { text-transform: uppercase; }

.pagination .arrow  a { color: $primary-color; }

#page-title {
  background: #fff; border-bottom: 3px solid #e6e6e6; margin-top: -29px;
  h1 { color: #418dcb; font-size: 14px; margin-top: 10px; text-transform: uppercase; }

  &.inst-title {
    background: #fe8d61; padding-top: 18px; padding-bottom: 22px;
    border-bottom: 0px;

    h1 { color: #fff;  font-size: 25px; border-left: 9px solid #ffff00; padding-left: 15px; margin: 0px; }
  }
}

.button.cart-button {
  text-align: left;
  padding: 11px 16px 13px 16px;

  i {
    margin-right: 10px;
  }
  span {
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 13px;
  }
}

.no-top {
  margin-top: 0px;
}

.message {
  color: #adadad;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}


@media #{$small-only} {
  .orbit-next, .orbit-prev {
    display: block;
  }
}

/*
 *  ==== Mobile Top Menu ===
 */

.top-bar {
  .title-area {
    .toggle-topbar.menu-icon { right: auto; left: 95px; }

    .navi {
      position: absolute; right: 0px; top: 0px;

      ul {
        @include pie-clearfix;
        @include reset-list-style;

        li {
          @include float-right;

          height: 55px;
          padding-top: 13px; padding-left: 12px; padding-right: 12px;
          border-left: 1px solid #5c5f60;

          a {
            position: relative;

            .count-cart {
              @include label(1px 4px, 15px, $secondary-color, 8px);

              position: absolute; top: 12px; left: 18px;
            }
          }
        }
      }
    }
  }


  .top-bar-section {
    ul li {
      & > a {
        text-align: center;
      }
      & + li {
        > a {
          border-top: 1px solid #ccc;
          @media #{$topbar-media-query} { border-top: none; }
        }
        &.active a {
          border-top: none;
        }
      }
    }
  }
}

// Mobile: Box da barra de navegacao superior

.top-bar-box {
  @include single-box-shadow(#999, 0px, 1px, 2px, 0);
  position: absolute; z-index: 9999; right: 0px; top: 55px;
  background: #fff;

  padding: 10px 20px;

  .icon-arr-up { position: absolute; top: -9px; }

  label {
    color: $primary-color;
    font-size: 20px; font-weight: bold;
    margin-bottom: 12px;
  }

  .helpers {
    .title {
      margin-bottom: 10px;
      font-size: 14px;
    }
    .link {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}


// Mobile: Box de acesso ao perfil

#profile-small {
  @extend .top-bar-box;

  width: 100%;

  .icon-arr-up { right: 115px; }
}

// Mobile: Box de pesquisa

#search-small {
  @extend .top-bar-box;

  top: 50px; width: 260px;

  .icon-arr-up { right: 10px; }
}

/*
 *  ==== Large: Menu Topo ===
 */

.top-nav {
  @include border-bottom-radius(6px);
  @include pie-clearfix;

  margin-bottom: 40px;
  padding-top: 4px; padding-left: 12px; padding-right: 0px;
  background: $primary-color;
  color: #fff;

  .left span {
    @include inline-block;

    font-family: 'Arial', sans-serif; font-size: 12px;
    margin-right: 20px;
    padding-bottom: 3px;
  }

  .right {
    font-family: 'Arial', sans-serif; font-size: 12px;

    a { color: #fff; padding-right: 20px; }

    .green-top-button {
      @include border-bottom-right-radius(6px);

      font-family: $body-font-family; text-transform: uppercase;
      background: $secondary-color;
      padding-left: 20px; padding-top: 10px; padding-bottom: 7px;
    }
  }

  .city-selector {
    @include inline-block;

    margin-top: -8px;
  }
}

/*
 * === Large: Área de Busca + Logo ===
 */

.title-area {
  margin-bottom: 40px;
  .large-3 { width: 22%; margin-top: 22px; }
}

.search-area { width: 44%; }

.search-form {
  .search-input {
    @include inline-block;

    margin-bottom: 0px;
    width: 360px; height: 43px;
    border: 2px solid #e4e4e4;
    font-size: 14px;
  }
  .search-btn { @include inline-block; }
}

ul.search-menu {
  margin-bottom: 5px;

  li {
    .icon-bullet { margin-top: 5px; }

    a { font-family: "Arial", sans-serif; font-size: 11px; font-weight: bold; }
  }
}

/*
 * === Large: Menu de Categorias ===
 */

.top-menu-container {
  @include box-shadow(0 0 6px rgba(50,50,50,.22));

  background: $primary-color;
  border-top: 1px solid #fff; border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.top-menu {
  position: relative; height: 47px;

  > ul {
    @include reset-list-style;
    @include pie-clearfix;

    position: absolute;
    margin: 0px;
    padding: 0px;

    > li {
      @include float-left;

      display: block;
      padding: 0px 7px; padding-top: 10px;padding-bottom: 10px;max-width: 135px;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;

      & + li { border-left: 1px solid #67a5d6; }

      .dropdown {
        @include box-shadow(0 1px 5px rgba(14,15,15,.2));

        display: none;
        position: absolute; z-index: 9999; left: 0px; top: 49px;
        width: 100%;
        padding: 30px 50px;
        background: #fff;
        text-align: left;
        cursor: auto;

        .category-title {
          margin-bottom: 50px;
          font-size: 18px; font-weight: bold; text-transform: uppercase;
          color: #878787;

          span {
            @include inline-block;
            padding-left: 20px; padding-top: 10px;
          }
        }

        .subcategories {
          @include reset-list-style;
          margin: 0px; margin-left: -20px; padding: 0px;

          > li {
            @include float-left;
            display: block;
            margin-left: 20px;

            > a { color: #f7895f; font-size: 14px; text-transform: uppercase; }

            ul {
              @include reset-list-style;
              margin: 0px; padding: 0px;
              li {
                a { color: #878787; font-size: 14px; }
              }
            }
          }
        }
      }

      &:hover {
        background: #fff;
        border-bottom: 5px solid #fc8c60;
        padding-bottom: 7px;

        > a { color: #a3a3a3; }
        .dropdown { display: block; }
      }

      > a {
        @include inline-block;
        color: #fff; font-size: 12px; font-weight: bold; text-transform: uppercase; line-height: 1.1em; text-align: center;
      }
    }
  }
}


/*
 * === Seletor de Cidade ===
 */

.city-selector {
  text-transform: uppercase; font-size: 12px;
  background: image-url('icon/arr-down.png') no-repeat right;
  padding-right: 23px;
  cursor: pointer;

  .options {
    @include border-bottom-radius(6px);

    display: none;
    position: absolute; z-index: 99;
    width: 170px;
    padding: 10px 0px;
    margin-left: -20px;
    background: $primary-color;
    line-height:1.5em;

    .option {
      padding: 0 20px;

      &:hover { background: scale-color($primary-color, $lightness: 20%); }
    }
  }
}

/*
 * === Exibição de um produto ===
 */
.produto {
  background: #fff;

  .img {
    text-align: center;
    height: 290px;
    padding-top: 15px; padding-bottom: 15px;
  }

  .detalhes {
    background: #f5f5f5;
    padding: 15px;

    .nome {
      color: #707070; font-size: 14px; font-weight: bold; text-transform: uppercase; text-align: center; line-height: 16px;
      margin-bottom: 15px;
      min-height: 44px;
    }

    .loja {
      margin-top: -10px; margin-bottom: 10px;
      text-align: center;

      a { font-family: "Arial", sans-serif; font-size: 13px; }
    }

    .preco { color: $secondary-color; font-size: 20px; font-weight: bold; line-height: 1em; }
    .parcelado { line-height: 1em; color: #6f6f6f; font-size: 16px; }
    .right { padding-top: 5px; }
  }
}


/*
 * === Publicidade ==
 */

.publicidade-row  {
  margin-bottom: 20px;
}

/*
 * == Barra de icones ==
 */

.icon-bar {
  > * img + label {
    font-size: 12px; font-weight: bold; text-transform: uppercase;
    margin-top: 10px;
  }
}

/*
 * == Rodape ==
 */

footer {
  background: image-url('bg-black.png');
  margin-top: 30px; padding-top: 20px;

  .social-networks {
    border-bottom: 1px solid #5c5f60;
    padding-bottom: 30px; margin-bottom: 15px;
  }
}

.navegue {
  border-bottom: 1px solid #5c5f60;
  padding-bottom: 40px;
  margin-bottom: 20px;

  label { color: #fff; text-align: center; }

  .city-selector {
    background: image-url('arrow-down.png') no-repeat 190px $primary-color;

    position: relative; width: 210px;
    margin: 0 auto; margin-top: 20px;
    color: #fff;

    .selected { padding-left: 10px; padding-top: 4px; padding-bottom: 4px; }

    .options {
      @include border-bottom-radius(0px);
      @include border-top-radius(6px);

      width: 210px; bottom: 25px; left: 20px;
    }
  }
}

.steps {
  margin-bottom: 50px;

  .title-steps {
    border-left: 8px solid $secondary-color;
    text-transform: uppercase; color: #fff; font-weight: bold; font-size: 18px;
    padding-left: 12px; padding-top: 10px; padding-bottom: 10px;
    margin-bottom: 13px;

    strong { color: $primary-color; }
  }
}

// == Box - Facebook

.note {
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #fff);

  background: image-url('note-bg.png');
  padding: 45px 25px 30px 25px;
  margin-bottom: 25px;

  .tape {
    background-image: image-url('tape.png'); background-repeat: no-repeat; background-position: 50% 50%;
    overflow: hidden;
    margin-top: -55px; margin-bottom: 35px; margin-left: auto; margin-right: auto;
    width: 89px; height: 20px;
    text-indent: -119988px; text-align: left;
  }

  .note-social-embeed iframe { width: 100%; background: #FFF; }
}

// == Menu Institucional

.institucional {
  padding-bottom: 20px;

  .inst-block-container {
    margin-left: -30px; margin-bottom: 80px;

    @media #{$medium-only} { margin-left: -70px; }
  }

  .inst-block {
    margin-left: 30px;
    padding-left: 15px;
    border-left: 5px solid #fff;
    @media #{$medium-only} { margin-left: 70px; }

    .inst-title { color: #fff; line-height: 18px; font-size: 18px; text-transform: uppercase; }

    .inst-list {
      @include reset-list-style;

      padding: 0px; margin: 0px; margin-top: 24px;

      a { color: #fff; font-size: 13px; }

      &.social {
        a { color: $primary-color; }
        li { margin-bottom: 5px; }
      }
    }
  }
}

.footer-desc { color: $primary-color; font-size: 15px; font-weight: bold; line-height: 22px; }

.container-footer {
  background: #202324;
  padding-top: 10px; padding-bottom: 25px;

  .navegue {
    margin-bottom: 0px; margin-left: 30px; margin-top: 20px;
    padding-bottom: 0px;
    border: 0px;
  }

  .right { margin-top: 30px; }
}

// == Box com titulo

.box {
  border: 1px solid #e6e6e6;
  background: #fff;

  &.no-padding {
    > .content {
      padding: 0px;

      .padding {
        padding: 20px;
      }
    }
  }

  > h3 {
    margin-left: -1px;
    margin-top: -1px;
    margin-right: -1px;
    margin-bottom: 0px;
    background: #fe8d61;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
  }

  > .content {
    padding: 30px 20px;

    h2 {
      color: $primary-color;
      text-transform: uppercase;
      font-size: 13px;

      margin-bottom: 15px;
    }

    h3 {
      color: $primary-color;
      font-size: 12px;
    }
  }

  &.blue-form, .blue-form {
    label {
      color: $primary-color;
      text-transform: uppercase;
      font-size: 13px;
    }
    input {
      border: 2px solid #e1e1e1;
    }

    .row .small-3 {
      width: 35%;
    }
    .row .small-offset-3 {
      margin-left: 35% !important;
    }
    .row .small-9 {
      width: 65%;
      padding-left: 0px;
    }

    select {
      color: #999;
    }
  }
}

// == Form

.cep {
  input {
    margin-bottom: 0px;
  }
  span {
    display: block;
    margin-bottom: $form-spacing;
    a {
      color: #fd8d61;
      font-size: 12px;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}


label.radio {
  margin-bottom: 20px;
  > input {
    @include float-left;
    margin-top: 4px;
  }
  > span {
    display: block;
    margin-left: 20px;
    font-size: 13px;
  }
}

// == Tables

table {
  th {
    text-transform: uppercase;
  }
}


.r-table {
  width: 100%;

  th {
    &.col-body, &.col-action {
      display: none;
    }
  }

  td {
    display: block;

    &.col-body, &.col-action {
      @include clearfix;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    &.col-action {
      text-align: right;
      padding-bottom: 20px;
    }
  }

  .mobile-label { @include float-left; text-align: left; line-height: 35px;  }
  .col-value { @include float-right; text-align: right; line-height: 35px; }

  @media #{$medium-up} {
    td, th {
      &.col-item, &.col-body, &.col-action {
        display: table-cell;
      }
    }

    td {
      &.col-body, &.col-action {
        padding: 0.5625rem 0.625rem;
      }
      &.col-action {
        text-align: center;
      }
    }

    .mobile-label {
      display: none;
    }

    .col-value {
      display: block;
      float: none;
      text-align: left;
    }
  }

}