// Import fonts
@import url(http://fonts.googleapis.com/css?family=Montserrat);

@import "settings";
@import "normalize";
@import "foundation";
@import "compass";

@import "lib/form";
@import "lib/top-bar";
@import "lib/breadcrumbs";
@import "lib/image-component";
@import "lib/icons";
@import "lib/common";

@import "common";

@import "pages/home";
@import "pages/listagem";
@import "pages/login";
@import "pages/cart";
@import "pages/checkout";
@import "pages/confirmacao";
@import "pages/meus-dados";
@import "pages/meus-pedidos";
@import "pages/pedido";


.green-marker {
  @include pretty-bullets("icon/green-marker.png", image-width("icon/green-marker.png"), image-height("icon/green-marker.png"), 28px, 37px);
  li {
    color: #919191;
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 40px;
  }
}

#institucional h2 {
  color: $primary-color;
  font-size: 28px;
  margin-bottom: 35px;
}
.tenha-sua-loja {
  .title {
    color: $secondary-color;
    font-size: 18px;
    font-weight: bold;
  }
}

.n-circle {
  @include float-left;


  border: 4px solid #cacaca;
  width: 50px;
  height: 50px;
  color: #c9c9c9;
  font-size: 45px;
  line-height: 41px;
  font-weight: bold;
  text-align: center;
  margin-right: 15px;

  @include border-radius(50%);

  &.current {
    border-color: $secondary-color;
    color: $primary-color;
  }
}

.cadastre-steps {
  @include reset-list-style;
  margin: 0px;
  padding: 0px;
  text-align: center;
  li {
    @include inline-block;


    &.step {
      border: 4px solid #cacaca;
      width: 50px;
      height: 50px;
      color: #c9c9c9;
      font-size: 45px;
      line-height: 41px;
      font-weight: bold;
      text-align: center;
      margin: 30px 10px;
      @include border-radius(50%);

      &.current {
        border-color: $secondary-color;
        color: $primary-color;
      }
    }

  }
}

#sobre {
  p {
    color: #919191;
    font-size: 12px;
    margin-bottom: 40px;
  }
}

.sobre-top {
  margin-top: 100px;
  margin-bottom: 100px;
}

#side-nav.guia {
  h2 {
    color: $primary-color;
    border-color: $secondary-color;
  }
}

#side-nav.cdl {
  margin-top: 20px;
  h2 {
    color: $secondary-color;
    border-color: $primary-color;
    strong {
      color: $primary-color;
    }
  }
}

#side-nav {
  .sobre-nav {
    @include reset-list-style;
    margin: 0px;
    padding: 0px;

    li {

      &.current a, a:hover {
        background: image-url("r-right.png") no-repeat right 10px center #ececec;
      }

      a {
        display: block;
        color: #919191;
        font-size: 12px;
        padding-left: 35px;
        line-height: 36px;

      }
    }
  }
}