extends views/layout

block body
  .body-content
    section#checkout-steps
      .row
        .small-12.column <span class="current">Cadastro</span> &gt; Checkout &gt; Confirmação

    section#cadastro.main-area
      form(action="")
        .row(data-equalizer)
          .large-4.column
            .box.blue-form
              h3 Dados Pessoais

              .content(data-equalizer-watch)
                form(action="")
                  .row
                    .small-3.column
                      label.inline.text-right Nome
                    .small-9.column
                      input(type="text")
                  .row
                    .small-3.column
                      label.inline.text-right Email
                    .small-9.column
                      input(type="email")
                  .row
                    .small-3.column
                      label.inline.text-right Tel.
                    .small-9.column
                      input(type="text")
                  .row
                    .small-3.column
                      label.inline.text-right cpf
                    .small-9.column
                      input(type="text")

          .large-4.column
            .box.blue-form
              h3 Endereço

              .content(data-equalizer-watch)
                form(action="")
                  .row
                    .small-3.column
                      label.inline.text-right CEP
                    .small-9.column
                      .cep
                        input(type="text")
                        span: a(href="") Não sei meu CEP
                  .row
                    .small-3.column
                      label.inline.text-right Estado
                    .small-9.column
                      select
                        option Santa Catarina
                  .row
                    .small-3.column
                      label.inline.text-right Cidade
                    .small-9.column
                      input(type="text")
                  .row
                    .small-3.column
                      label.inline.text-right Rua
                    .small-9.column
                      input(type="text")
                  .row
                    .small-3.column
                      label.inline.text-right Bairro
                    .small-9.column
                      input(type="text")
                  .row
                    .small-3.column
                      label.inline.text-right No.
                    .small-9.column
                      input(type="text")
                  .row
                    .small-3.column
                      label.inline.text-right Compl.
                    .small-9.column
                      input(type="text")


          .large-4.column
            .box.blue-form
              h3 Senha

              .content(data-equalizer-watch)
                form(action="")
                  .row
                    .small-3.column
                      label.inline.text-right Senha
                    .small-9.column
                      input(type="password")
                  .row
                    .small-3.column
                      label.inline.text-right Confirme
                    .small-9.column
                      input(type="password")
                  .row
                    .small-9.small-offset-3.column
                      input(type="image", src="img/btn-cadastrar.png")



      .row
        .small-12.column
          hr
          a(href=""): img(src="img/btn-voltar.png")

