extends views/layout

block body
  .body-content
    section#page-title
      .row: .small-12.column: h1 Meu Carrinho

    section#cadastro.main-area
      .row
        .small-12.column
          table.items-list.r-table
            thead
              tr
                th.col-item Produto
                th.col-preco.col-body Preço
                th.col-quantidade.col-body Quantidade
                th.col-preco-total.col-body Preço Total
                th.col-remover.col-action &nbsp;
            tbody
              tr
                td.col-item
                  .img: img(src="img/produto-cart.png")
                  .desc
                    .titulo Blusa Striped Listrado | <span class="ref">Ref: 0000</span>
                    .loja: a(href="") Mariquinhas Shop


                td.col-preco.col-body
                  .mobile-label Preço
                  .col-value R$ 30,00
                td.col-quantidade.col-body
                  .mobile-label Quantidade
                  .col-value: input(type="text", value="1").quantidade
                td.col-preco-total.col-body
                  .mobile-label Preço Total
                  .col-value R$ 30,00
                td.col-remover.col-action: a(href=""): img(src="img/btn-remove.png")
              tr
                td.col-item
                  .img: img(src="img/produto-cart.png")
                  .desc
                    .titulo Blusa Striped Listrado | <span class="ref">Ref: 0000</span>
                    .loja: a(href="") Mariquinhas Shop


                td.col-preco.col-body
                  .mobile-label Preço
                  .col-value R$ 30,00
                td.col-quantidade.col-body
                  .mobile-label Quantidade
                  .col-value: input(type="text", value="1").quantidade
                td.col-preco-total.col-body
                  .mobile-label Preço Total
                  .col-value R$ 30,00
                td.col-remover.col-action: a(href=""): img(src="img/btn-remove.png")

      .row
        .medium-6.column
          form(action="").cart-form
            label Cupom de Desconto
            .input: input(type="text", placeholder="XXXXXXX")
            .btn: input(type="image", src="img/btn-calcular.png")

          form(action="").cart-form
            label Frete - CEP
            .input: input(type="text", placeholder="00000-000")
            .btn: input(type="image", src="img/btn-calcular.png")


        .medium-6.column
          .totals
            .name Subtotal:
            .value R$ 30,00
          .totals.cupom
            .name Cupom:
            .value - R$ 5,00

      .row
        .small-12.column: hr.no-top


      .row
        .medium-6.column.medium-offset-6
          .totals.grand-total
            .name Valor Total
            .value R$ 30,00

      .row
        .small-12.column
          hr
          .clearfix
            .left: a(href=""): img(src="img/btn-continuar.png")
            .right: a(href=""): img(src="img/btn-finalizar.png")


