extends views/layout

block body
  .body-content
    section#checkout-steps
      .row
        .small-12.column Cadastro &gt; <span class="current">Checkout</span> &gt; Confirmação

    section.main-area#checkout

      .message Para se cadastrar preencha os campos abaixo. Todos os campos são obrigatórios.

      form(action="")
        .row
          .large-4.column
            .box
              h3 Endereço de Entrega

              .content
                label.radio
                  input(type="radio", name="endereco", value="1")
                  span Rua souza dutra, 145. Sala 406. Ed. Beiramar Continental. Estreito, Florianópolis - SC. CEP: 88070-605
                label.radio
                  input(type="radio", name="endereco", value="2")
                  span Rua souza dutra, 145. Sala 406. Ed. Beiramar Continental. Estreito, Florianópolis - SC. CEP: 88070-605
                label.radio.no-bottom
                  input(type="radio", name="endereco", value="3")
                  span Castrar  novo endereço



          .large-4.column
            .box
              h3 Pagamento

              .content
                h2 Selecione o Frete:

                ul.small-block-grid-2
                  li
                    label.radio
                      input(type="radio", name="frete", value="S")
                      span SEDEX <br />até 48h <br /><span class="secondary">R$ 20,00</span>
                  li
                    label.radio
                      input(type="radio", name="frete", value="P")
                      span PAC <br />até 5 dias úteis<br /><span class="secondary">R$ 20,00</span>


                h2 selecione a forma de pagamento:

                label.radio.pgto-option
                  input(type="radio", name="pagamento", value="C")
                  span Cartão de Crédito

                .tipo-pagamento.cartao-credito
                  #accepted-cards-images

                  select
                    option Número de Parcelas

                  input(type="text", placeholder="Número do Cartão")#credit-card
                  input(type="text", placeholder="Nome impresso no cartão")

                  h3 Data de Vencimento

                  .vencimento-container
                    .input
                      select.vencimento
                        option Mês
                    .input
                      select.vencimento
                        option Ano

                  .cvv-container
                    input(type="text", placeholder="Cód. Segurança")
                    img.img-cvv(src="img/cvv.png")

                label.radio.pgto-option.no-bottom
                  input(type="radio", name="pagamento", value="C")
                  span Boleto


          .large-4.column
            .box.no-padding
              h3 Revisão do Pedido


              .content
                .item
                  .img: img(src="img/produto-checkout.png")
                  .desc
                    .titulo Blusa Striped Listrado | <span class="ref">Ref: 0000</span>
                    .loja: a(href="") Mariquinhas Shop
                    .qtd 1 peça
                    .preco R$ 30,00

                .item
                  .img: img(src="img/produto-checkout.png")
                  .desc
                    .titulo Blusa Striped Listrado | <span class="ref">Ref: 0000</span>
                    .loja: a(href="") Mariquinhas Shop
                    .qtd 1 peça
                    .preco R$ 30,00

                .item
                  .img: img(src="img/produto-checkout.png")
                  .desc
                    .titulo Blusa Striped Listrado | <span class="ref">Ref: 0000</span>
                    .loja: a(href="") Mariquinhas Shop
                    .qtd 1 peça
                    .preco R$ 30,00

                .form-revisao

                  .cart-form
                    label Cupom de Desconto
                    .input: input(type="text", placeholder="XXXXXXX")
                    .btn: a(href=""): img(src="img/btn-calcular.png")

                  .cart-form
                    label Frete - CEP
                    .input: input.no-bottom(type="text", placeholder="00000-000")
                    .btn: a(href=""): img(src="img/btn-calcular.png")

                hr.no-margin

                .padding
                  .totals
                    .name Subtotal:
                    .value R$ 30,00
                  .totals.cupom
                    .name Cupom:
                    .value - R$ 5,00

                hr.no-margin

                .padding
                  .totals.grand-total
                    .name Valor Total
                    .value R$ 30,00

                hr.no-margin

                .text-center.padding
                  input(type="image", src="img/btn-finalizar.png")


      .row
        .small-12.column
          hr
          a(href=""): img(src="img/btn-voltar.png")

