extends views/layout

block body
  .body-content
    section#checkout-steps
      .row
        .small-12.column Cadastro &gt; Checkout &gt; <span class="current">Confirmação</span>

    section.main-area#confirmacao
      .row
        .medium-8.large-6.column.medium-centered
          h2 seu pedido foi recebido com sucesso!

          .confirmacao-box
            p Você vai receber um email de confirmação do pedido com mais detalhes.
            p Número do pedido: <span class="secondary">00000000</span>
            p.btn-boleto: a(href=""): img(src="img/btn-boleto.png")
            p <a href="">Clique aqui</a> para imprimir  uma cópia de confirmação do seu pedido ou acompanhe seu pedido clicando no botão abaixo.

          .confirmacao-btn: a(href=""): img(src="img/btn-acompanhar.png")

