extends views/layout

block body

  section
    .row
      .small-12.column.show-for-medium-up
        ul(data-orbit, data-options="bullets:false;slide_number:false;variable_height:true;timer:false;container_class:slider-top orbit-container;")
          li: img(src="img/banner-1.jpg")
          li: img(src="img/banner-2.jpg")
      .small-12.column.hide-for-medium-up
        .slider-top
          img(src="img/banner-small.jpg")


  section#lojas-destaque
    .row
      .small-12.column
        h2 Lojas Destaque

    .row.show-for-small-only
      .small-12.column
        ul(data-orbit, data-options="bullets:false;slide_number:false;variable_height:true;timer:false;container_class:slider-lojas orbit-container;")
          li(data-orbit-slide="loja-1"): div
            .logo-loja: img(src="img/loja-1.png")
            .produto
              .img: img(src="img/produto-1.png")
              .detalhes
                .nome Blusa Striped Listrado
                .clearfix
                  .left
                    .preco R$ 30,00
                    .parcelado 3x de R$ 10,00

                  .right
                    a(href=""): img(src="img/btn-buy.png")


          li(data-orbit-slide="loja-2"): div
            .logo-loja: img(src="img/loja-2.png")
            .produto
              .img: img(src="img/produto-2.png")
              .detalhes
                .nome Blusa Manga Cumprida Azul Laço
                .clearfix
                  .left
                    .preco R$ 30,00
                    .parcelado 3x de R$ 10,00

                  .right
                    a(href=""): img(src="img/btn-buy.png")


    .row.show-for-medium-up
      .small-12.column
        .lojas-destaque
          .header
            ul.tab-select-loja
              li.active: a(href="#store-1"): img(src="img/loja-1-small.png")
              li: a(href="#store-2"): img(src="img/loja-2.png")
              li: a(href="#store-1"): img(src="img/loja-3.png")
              li: a(href="#store-2"): img(src="img/loja-1-small.png")
              li: a(href="#store-1"): img(src="img/loja-2.png")
              li: a(href="#store-2"): img(src="img/loja-3.png")

          .contents#store-1.store-tab
            .row
              .medium-6.large-4.column.store-details
                .main-logo: img(src="img/loja-1.png")
                .desc: Lorem ipsum dolor sit amet,v consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                .btn: a(href=""): img(src="img/btn-buy-loja.png")

                .bc
                  span.p CLD BRASIL
                  span.s >
                  span.p SANTA CATARINA
                  br
                  span.s >
                  span.c FLORIANÓPOLIS

              .medium-6.large-8.column.store-products
                ul.show-for-large-up(data-orbit, data-options="bullets:false;slide_number:false;variable_height:true;timer:false;container_class:slider-produtos orbit-container;")
                  li(data-orbit-slide="produtos-1"): div.slider-lista-produtos
                    ul.large-block-grid-2
                      li.produto
                        .img: img(src="img/produto-1.png")
                        .detalhes
                          .nome Blusa Striped Listrado
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")

                      li.produto
                        .img: img(src="img/produto-2.png")
                        .detalhes
                          .nome Blusa Manga Cumprida Azul Laço
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")

                  li(data-orbit-slide="produtos-2"): div.slider-lista-produtos
                    ul.large-block-grid-2
                      li.produto
                        .img: img(src="img/produto-2.png")
                        .detalhes
                          .nome Blusa Striped Listrado
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")

                      li.produto
                        .img: img(src="img/produto-1.png")
                        .detalhes
                          .nome Blusa Manga Cumprida Azul Laço
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")



                ul.show-for-medium-only(data-orbit, data-options="bullets:false;slide_number:false;variable_height:true;timer:false;container_class:slider-produtos orbit-container;")
                  li(data-orbit-slide="produtos-1"): div.slider-lista-produtos
                    ul.medium-block-grid-1
                      li.produto
                        .img: img(src="img/produto-1.png")
                        .detalhes
                          .nome Blusa Striped Listrado
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")

                  li(data-orbit-slide="produtos-2"): div.slider-lista-produtos
                    ul.medium-block-grid-1
                      li.produto
                        .img: img(src="img/produto-2.png")
                        .detalhes
                          .nome Blusa Manga Cumprida Azul Laço
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00
                            .right
                              a(href=""): img(src="img/btn-buy.png")





          .contents#store-2.store-tab
            .row
              .medium-6.large-4.column.store-details
                .main-logo: img(src="img/loja-2.png")
                .desc: Lorem ipsum dolor sit amet,v consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                .btn: a(href=""): img(src="img/btn-buy-loja.png")

                .bc
                  span.p CLD BRASIL
                  span.s >
                  span.p SANTA CATARINA
                  br
                  span.s >
                  span.c FLORIANÓPOLIS

              .medium-6.large-8.column.store-products
                ul.show-for-large-up(data-orbit, data-options="bullets:false;slide_number:false;variable_height:true;timer:false;container_class:slider-produtos orbit-container;")
                  li(data-orbit-slide="produtos-1"): div.slider-lista-produtos
                    ul.large-block-grid-2
                      li.produto
                        .img: img(src="img/produto-1.png")
                        .detalhes
                          .nome Blusa Striped Listrado
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")

                      li.produto
                        .img: img(src="img/produto-2.png")
                        .detalhes
                          .nome Blusa Manga Cumprida Azul Laço
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")

                  li(data-orbit-slide="produtos-2"): div.slider-lista-produtos
                    ul.large-block-grid-2
                      li.produto
                        .img: img(src="img/produto-2.png")
                        .detalhes
                          .nome Blusa Striped Listrado
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")

                      li.produto
                        .img: img(src="img/produto-1.png")
                        .detalhes
                          .nome Blusa Manga Cumprida Azul Laço
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")



                ul.show-for-medium-only(data-orbit, data-options="bullets:false;slide_number:false;variable_height:true;timer:false;container_class:slider-produtos orbit-container;")
                  li(data-orbit-slide="produtos-1"): div.slider-lista-produtos
                    ul.medium-block-grid-1
                      li.produto
                        .img: img(src="img/produto-1.png")
                        .detalhes
                          .nome Blusa Striped Listrado
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")

                  li(data-orbit-slide="produtos-2"): div.slider-lista-produtos
                    ul.medium-block-grid-1
                      li.produto
                        .img: img(src="img/produto-2.png")
                        .detalhes
                          .nome Blusa Manga Cumprida Azul Laço
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00
                            .right
                              a(href=""): img(src="img/btn-buy.png")


  section.publicidade-row
    .row
      .small-12.column.text-center
        a(href=""): img(data-interchange="[http://placehold.it/960x85&text=Publicidade,(large)],[http://placehold.it/700x85&text=Publicidade,(medium)],[http://placehold.it/540x150&text=Publicidade,(small)]")


  section#display
    .row
      .small-12.column
        .display-btn.right.show-for-medium-up: a(href=""): img(src="img/btn-quero-mais.png")

        h2.display-title Para Homens



    .row
      .small-12.column
        ul.show-for-small-only(data-orbit, data-options="bullets:false;slide_number:false;variable_height:true;timer:false;container_class:slider-produtos orbit-container;")
          li(data-orbit-slide="produto-1"): div
            .produto
              .img: img(src="img/sapato.png")
              .detalhes
                .nome Sapato em Couro Preto
                .loja: a(href="") Sapataria do Homem
                .clearfix
                  .left
                    .preco R$ 30,00
                    .parcelado 3x de R$ 10,00

                  .right
                    a(href=""): img(src="img/btn-buy.png")
          li(data-orbit-slide="produto-1"): div
            .produto
              .img: img(src="img/sapato.png")
              .detalhes
                .nome Sapato em Couro Preto
                .loja: a(href="") Sapataria do Homem
                .clearfix
                  .left
                    .preco R$ 30,00
                    .parcelado 3x de R$ 10,00

                  .right
                    a(href=""): img(src="img/btn-buy.png")


        ul.show-for-medium-up(data-orbit, data-options="bullets:false;slide_number:false;variable_height:true;timer:false;container_class:slider-produtos orbit-container;")
          li(data-orbit-slide="produto-1"): div
            ul.medium-block-grid-3.slider-lista-produtos
              li.produto
                .img: img(src="img/sapato.png")
                .detalhes
                  .nome Sapato em Couro Preto
                  .loja: a(href="") Sapataria do Homem
                  .clearfix
                    .left
                      .preco R$ 30,00
                      .parcelado 3x de R$ 10,00

                    .right
                      a(href=""): img(src="img/btn-buy.png")

              li.produto
                .img: img(src="img/sapato.png")
                .detalhes
                  .nome Sapato em Couro Preto
                  .loja: a(href="") Sapataria do Homem
                  .clearfix
                    .left
                      .preco R$ 30,00
                      .parcelado 3x de R$ 10,00

                    .right
                      a(href=""): img(src="img/btn-buy.png")

              li.produto
                .img: img(src="img/sapato.png")
                .detalhes
                  .nome Sapato em Couro Preto
                  .loja: a(href="") Sapataria do Homem
                  .clearfix
                    .left
                      .preco R$ 30,00
                      .parcelado 3x de R$ 10,00

                    .right
                      a(href=""): img(src="img/btn-buy.png")


          li(data-orbit-slide="produto-1"): div
            ul.medium-block-grid-3.slider-lista-produtos
              li.produto
                .img: img(src="img/sapato.png")
                .detalhes
                  .nome Sapato em Couro Preto
                  .loja: a(href="") Sapataria do Homem
                  .clearfix
                    .left
                      .preco R$ 30,00
                      .parcelado 3x de R$ 10,00

                    .right
                      a(href=""): img(src="img/btn-buy.png")

              li.produto
                .img: img(src="img/sapato.png")
                .detalhes
                  .nome Sapato em Couro Preto
                  .loja: a(href="") Sapataria do Homem
                  .clearfix
                    .left
                      .preco R$ 30,00
                      .parcelado 3x de R$ 10,00

                    .right
                      a(href=""): img(src="img/btn-buy.png")

              li.produto
                .img: img(src="img/sapato.png")
                .detalhes
                  .nome Sapato em Couro Preto
                  .loja: a(href="") Sapataria do Homem
                  .clearfix
                    .left
                      .preco R$ 30,00
                      .parcelado 3x de R$ 10,00

                    .right
                      a(href=""): img(src="img/btn-buy.png")


  section#display
    .row
      .small-12.column
        .display-btn.right.show-for-medium-up: a(href=""): img(src="img/btn-quero-mais.png")

        h2.display-title Para Mulheres



    .row
      .small-12.column
        ul.show-for-small-only(data-orbit, data-options="bullets:false;slide_number:false;variable_height:true;timer:false;container_class:slider-produtos orbit-container;")
          li(data-orbit-slide="produto-1"): div
            .produto
              .img: img(src="img/vestido.png")
              .detalhes
                .nome Vestido festa vermelho
                .loja: a(href="") Mariquinha Shop
                .clearfix
                  .left
                    .preco R$ 30,00
                    .parcelado 3x de R$ 10,00

                  .right
                    a(href=""): img(src="img/btn-buy.png")
          li(data-orbit-slide="produto-1"): div
            .produto
              .img: img(src="img/saia.png")
              .detalhes
                .nome Saia Social Preta
                .loja: a(href="") Mariquinha Shop
                .clearfix
                  .left
                    .preco R$ 30,00
                    .parcelado 3x de R$ 10,00

                  .right
                    a(href=""): img(src="img/btn-buy.png")

          li(data-orbit-slide="produto-1"): div
            .produto
              .img: img(src="img/sapato-feminino.png")
              .detalhes
                .nome Sapato Peep Toe Bege
                .loja: a(href="") Women Shoes
                .clearfix
                  .left
                    .preco R$ 30,00
                    .parcelado 3x de R$ 10,00

                  .right
                    a(href=""): img(src="img/btn-buy.png")


        ul.show-for-medium-up(data-orbit, data-options="bullets:false;slide_number:false;variable_height:true;timer:false;container_class:slider-produtos orbit-container;")
          li(data-orbit-slide="produto-1"): div
            ul.medium-block-grid-3.slider-lista-produtos
              li.produto
                .img: img(src="img/vestido.png")
                .detalhes
                  .nome Vestido festa vermelho
                  .loja: a(href="") Mariquinha Shop
                  .clearfix
                    .left
                      .preco R$ 30,00
                      .parcelado 3x de R$ 10,00

                    .right
                      a(href=""): img(src="img/btn-buy.png")

              li.produto
                .img: img(src="img/saia.png")
                .detalhes
                  .nome Saia Social Preta
                  .loja: a(href="") Mariquinha Shop
                  .clearfix
                    .left
                      .preco R$ 30,00
                      .parcelado 3x de R$ 10,00

                    .right
                      a(href=""): img(src="img/btn-buy.png")

              li.produto
                .img: img(src="img/sapato-feminino.png")
                .detalhes
                  .nome Sapato Peep Toe Bege
                  .loja: a(href="") Women Shoes
                  .clearfix
                    .left
                      .preco R$ 30,00
                      .parcelado 3x de R$ 10,00

                    .right
                      a(href=""): img(src="img/btn-buy.png")


          li(data-orbit-slide="produto-1"): div
            ul.medium-block-grid-3.slider-lista-produtos
              li.produto
                .img: img(src="img/vestido.png")
                .detalhes
                  .nome Vestido festa vermelho
                  .loja: a(href="") Mariquinha Shop
                  .clearfix
                    .left
                      .preco R$ 30,00
                      .parcelado 3x de R$ 10,00

                    .right
                      a(href=""): img(src="img/btn-buy.png")

              li.produto
                .img: img(src="img/saia.png")
                .detalhes
                  .nome Saia Social Preta
                  .loja: a(href="") Mariquinha Shop
                  .clearfix
                    .left
                      .preco R$ 30,00
                      .parcelado 3x de R$ 10,00

                    .right
                      a(href=""): img(src="img/btn-buy.png")

              li.produto
                .img: img(src="img/sapato-feminino.png")
                .detalhes
                  .nome Sapato Peep Toe Bege
                  .loja: a(href="") Women Shoes
                  .clearfix
                    .left
                      .preco R$ 30,00
                      .parcelado 3x de R$ 10,00

                    .right
                      a(href=""): img(src="img/btn-buy.png")

  section.publicidade-row
    .row
      .medium-6.column.text-center
        a(href=""): img(data-interchange="[http://placehold.it/960x85&text=Publicidade,(large)],[http://placehold.it/470x85&text=Publicidade,(medium)],[http://placehold.it/540x150&text=Publicidade,(small)]")
      .medium-6.column.text-center.show-for-medium-up
        a(href=""): img(data-interchange="[http://placehold.it/960x85&text=Publicidade,(large)],[http://placehold.it/470x85&text=Publicidade,(medium)],[http://placehold.it/540x150&text=Publicidade,(small)]")

  section#encontre.show-for-medium-up
    .row
      .medium-12.column
        h2.encontre-title Encontre uma Loja


    .row
      .medium-12.large-8.column
        .encontre-nav.clearfix
          form(action="", method="post").form-busca-loja.left
            label BUSCAR LOJAS EXISTENTES:
            .input: input(type="text", placeholder="Nome")
            .btn: input(type="image", src="img/btn-search-loja.png")


          .right
            nav
              ul
                li: a(href=""): img(src="img/btn-loja-prev.png")
                li: a(href=""): img(src="img/btn-loja-next.png")
            .btn-all: a(href=""): img(src="img/btn-see-all.png")


        .lojas-destaque
          .header
            ul.tab-select-loja
              li.active: a(href="#find-store-1"): img(src="img/loja-1-small.png")
              li: a(href="#find-store-2"): img(src="img/loja-2.png")
              li: a(href="#find-store-1"): img(src="img/loja-3.png")
              li: a(href="#find-store-2"): img(src="img/loja-1-small.png")
              li: a(href="#find-store-1"): img(src="img/loja-2.png")
              li: a(href="find-#store-2"): img(src="img/loja-3.png")

          .contents#find-store-1.store-tab
            .row.store-details
              .medium-6.column
                .main-logo: img(src="img/loja-1-large.png")
                .bc
                  span.p CLD BRASIL
                  span.s >
                  span.p SANTA CATARINA
                  br
                  span.s >
                  span.c FLORIANÓPOLIS
              .medium-6.column
                .desc Lorem ipsum dolor sit amet,v consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                .btn: a(href=""): img(src="img/btn-buy-loja.png")

            .row
              .medium-12.column.store-products
                ul(data-orbit, data-options="bullets:false;slide_number:false;variable_height:true;timer:false;container_class:slider-produtos orbit-container;")
                  li(data-orbit-slide="produtos-1"): div.slider-lista-produtos
                    ul.medium-block-grid-2
                      li.produto
                        .img: img(src="img/produto-1.png")
                        .detalhes
                          .nome Blusa Striped Listrado
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")

                      li.produto
                        .img: img(src="img/produto-2.png")
                        .detalhes
                          .nome Blusa Manga Cumprida Azul Laço
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")

                  li(data-orbit-slide="produtos-2"): div.slider-lista-produtos
                    ul.large-block-grid-2
                      li.produto
                        .img: img(src="img/produto-2.png")
                        .detalhes
                          .nome Blusa Striped Listrado
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")

                      li.produto
                        .img: img(src="img/produto-1.png")
                        .detalhes
                          .nome Blusa Manga Cumprida Azul Laço
                          .clearfix
                            .left
                              .preco R$ 30,00
                              .parcelado 3x de R$ 10,00

                            .right
                              a(href=""): img(src="img/btn-buy.png")

      .large-4.column.show-for-large-up
        .bottom-space: a(href=""): img(src="img/banner-abra.png")
        .bottom-space: a(href=""): img(src="http://placehold.it/337x132&text=Publicidade")
        .bottom-space: a(href=""): img(src="http://placehold.it/337x132&text=Publicidade")



  section#abra.show-for-small-only
    .row: .small-12.column.text-center: a(href=""): img(src="img/banner-abra-small.png")

  section#help.show-for-medium-up
    .row
      .medium-12.large-8.column
        .icon-bar.four-up
          a(href="").item
            img(src="img/cdl-icon.png")
            label Sobre o shopping CDL
          a(href="").item
            img(src="img/como-icon.png")
            label Como criar minha loja
          a(href="").item
            img(src="img/comprar-icon.png")
            label Guia de como comprar
          a(href="").item
            img(src="img/atendimento-icon.png")
            label Atendimento Online

      .large-4.column.show-for-large-up
        a(href=""): img(src="img/banner-cadastre.png")



