extends views/layout

block body


  section#breadcrumbs
    .row: .small-12.column: nav.breadcrumbs
      a(href="") Home
      a(href="") Home
      a.current(href="") Home


  section#listagem

    .row
      .small-12.column
        #header-loja
          .logo: img(src="img/logo-loja.png")
          .banner: img(src="img/banner-loja.jpg")




    .row
      .medium-4.column.show-for-medium-up
        #side-nav
          h2 Navegue Por

          h3 Preço

          .filtro-form

            .row
              .small-4.column
                label(for="right-label").right.inline De

              .small-8.column
                input(type="text", placeholder="R$ 9,99")

            .row
              .small-4.column
                label(for="right-label").right.inline Até

              .small-8.column
                input(type="text", placeholder="R$ 9,99")

            .row
              .small-12.text-right.column
                a(href=""): img(src="img/btn-filtro.png")

          h3 Mulheres

          .filtro-tree
            ul
              li.open
                a(href="") Vestuário <strong>(598)</strong>
                ul
                  li: a(href="") Vestidos <strong>(98)</strong>
                  li: a(href="") Jaquetas e Casacos <strong>(8)</strong>
                  li: a(href="") Blusas e Camisas <strong>(98)</strong>
                  li: a(href="") Tops e Camisetas <strong>(8)</strong>
                  li: a(href="") Moletons <strong>(98)</strong>
                  li: a(href="") Moda íntima <strong>(8)</strong>
                  li: a(href="") Suéter <strong>(98)</strong>
                  li: a(href="") Roupa de banho <strong>(8)</strong>
                  li: a(href="") Leggins e calça <strong>(98)</strong>

              li
                a(href="") Acessórios <strong>(598)</strong>

                ul
                  li: a(href="") Vestidos <strong>(98)</strong>
                  li: a(href="") Jaquetas e Casacos <strong>(8)</strong>
                  li: a(href="") Blusas e Camisas <strong>(98)</strong>
                  li: a(href="") Tops e Camisetas <strong>(8)</strong>
                  li: a(href="") Moletons <strong>(98)</strong>
                  li: a(href="") Moda íntima <strong>(8)</strong>
                  li: a(href="") Suéter <strong>(98)</strong>
                  li: a(href="") Roupa de banho <strong>(8)</strong>
                  li: a(href="") Leggins e calça <strong>(98)</strong>

                li
                  a(href="") Calçados <strong>(598)</strong>

                li
                  a(href="") Vestuário <strong>(598)</strong>


          h3 Lojas

          .filtro-list
            ul
              li: a(href="") Marisa (98)
              li: a(href="") Mariquinha Shop (98)
              li: a(href="") Random Noise (98)
              li: a(href="") Marisa (98)
              li: a(href="") Mariquinha Shop (98)
              li: a(href="") Random Noise (98)

          h3 Marcas

          .filtro-list
            ul
              li: a(href="") Marisa (98)
              li: a(href="") Mariquinha Shop (98)
              li: a(href="") Random Noise (98)
              li: a(href="") Marisa (98)
              li: a(href="") Mariquinha Shop (98)
              li: a(href="") Random Noise (98)








      .small-12.medium-8.column
        .row.navigation
          .nav-filter.medium-8.column
            span.filtro
              label Ítens por página
              .input
                select
                  option 18
                  option 26

            span |

            span.filtro

              label Organizar por
              .input
                select
                  option Preço
                  option Título


          .nav-pagination.medium-4.column
            .pagination-centered
              ul.pagination
                li.current: a(href="") 1
                li: a(href="") 2
                li: a(href="") 3
                li: a(href="") 4
                li: a(href="") 5
                li.arrow: a(href="") &gt;

        .row.number-results
          .medium-12.column Mostrando 18 de 450

        .row.listagem
          .small-12.column
            ul.small-block-grid-1.medium-block-grid-2
              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")


              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")

              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")

              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")


            .publicidade: a(href=""): img(data-interchange="[http://placehold.it/600x120,(default)],[http://placehold.it/640x80,(medium)]")

            ul.small-block-grid-1.medium-block-grid-2

              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")

              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")

              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")

              li.produto
                .produto-box
                  .img: img(src="img/sapato.png")
                  .detalhes
                    .nome Sapato em Couro Preto
                    .loja: a(href="") Sapataria do Homem
                    .clearfix
                      .left
                        .preco R$ 30,00
                        .parcelado 3x de R$ 10,00

                      .right
                        a(href=""): img(src="img/btn-buy.png")


        .row.navigation.bottom
          .nav-filter.medium-8.column
            span.filtro
              label Ítens por página
              .input
                select
                  option 18
                  option 26

            span |

            span.filtro

              label Organizar por
              .input
                select
                  option Preço
                  option Título


          .nav-pagination.medium-4.column
            .pagination-centered
              ul.pagination
                li.current: a(href="") 1
                li: a(href="") 2
                li: a(href="") 3
                li: a(href="") 4
                li: a(href="") 5
                li.arrow: a(href="") &gt;




