extends views/layout

block body
  .body-content
    section#checkout-steps
      .row
        .small-12.column <span class="current">Cadastro</span> &gt; Checkout &gt; Confirmação

    section#login.main-area
      .row(data-equalizer)
        .medium-6.column
          h2 Você já possui uma conta?

          .box.blue-form
            h3 Faça seu Login

            .content(data-equalizer-watch)
              form(action="")
                .row
                  .small-3.column
                    label.inline.text-right Email
                  .small-9.column
                    input(type="email")
                .row
                  .small-3.column
                    label.inline.text-right Senha
                  .small-9.column
                    input(type="password")
                .row
                  .small-9.small-offset-3.column
                    input(type="image", src="img/btn-entrar.png")

        .medium-6.column
          h2 Ainda não é cadastrado?

          .box
            h3 Cadastre-se

            .content(data-equalizer-watch)
              p.text-center Se você ainda não possui uma conta, faça o seu cadastro clicando no botão abaixo:
              p.text-center: a(href=""): img(src="img/btn-cadastrar.png")


