extends views/layout

block body
  .body-content
    section#page-title
      .row: .small-12.column: h1 Meu Pedidos

    section#meus-pedidos.main-area
      .row
        .small-12.column
          table.r-table
            thead
              tr
                th.col-item Pedido
                th.col-body.col-data Data
                th.col-body.col-total Valor Total
                th.col-body.col-status Status
                th.col-action &nbsp;
            tbody
              tr
                td.col-body
                  .mobile-label Pedido
                  .col-value 0000000
                td.col-body
                  .mobile-label Data
                  .col-value 30/09/2014
                td.col-body
                  .mobile-label Valor Total
                  .col-value R$ 30,00
                td.col-body
                  .mobile-label Status
                  .col-value.status-doing Aguardando Pagamento
                td.col-action: a(href=""): img(src="img/btn-ver-pedido.png")
              tr
                td.col-body
                  .mobile-label Pedido
                  .col-value 0000000
                td.col-body
                  .mobile-label Data
                  .col-value 30/09/2014
                td.col-body
                  .mobile-label Valor Total
                  .col-value R$ 30,00
                td.col-body
                  .mobile-label Status
                  .col-value Finalizado
                td.col-action: a(href=""): img(src="img/btn-ver-pedido.png")

