extends views/layout

block body
  .body-content
    section#page-title
      .row: .small-12.column: h1 Meus Dados

    section#cadastro.main-area

      .row
        .large-4.column
          .box.blue-form
            h3 Dados Pessoais

            .content
              form(action="")
                .row
                  .small-3.column
                    label.inline.text-right Nome
                  .small-9.column
                    input(type="text")
                .row
                  .small-3.column
                    label.inline.text-right Email
                  .small-9.column
                    input(type="email")
                .row
                  .small-3.column
                    label.inline.text-right Tel.
                  .small-9.column
                    input(type="text")
                .row
                  .small-3.column
                    label.inline.text-right cpf
                  .small-9.column
                    input(type="text")
                .row
                  .small-9.small-offset-3.column
                    input(type="image", src="img/btn-alterar.png")

        .large-4.column
          .box.blue-form
            h3 Endereço

            .content
              form(action="")
                .row
                  .small-3.column
                    label.inline.text-right CEP
                  .small-9.column
                    .cep
                      input(type="text")
                      span: a(href="") Não sei meu CEP
                .row
                  .small-3.column
                    label.inline.text-right Estado
                  .small-9.column
                    select
                      option Santa Catarina
                .row
                  .small-3.column
                    label.inline.text-right Cidade
                  .small-9.column
                    input(type="text")
                .row
                  .small-3.column
                    label.inline.text-right Rua
                  .small-9.column
                    input(type="text")
                .row
                  .small-3.column
                    label.inline.text-right Bairro
                  .small-9.column
                    input(type="text")
                .row
                  .small-3.column
                    label.inline.text-right No.
                  .small-9.column
                    input(type="text")
                .row
                  .small-3.column
                    label.inline.text-right Compl.
                  .small-9.column
                    input(type="text")
                .row
                  .small-9.small-offset-3.column
                    input(type="image", src="img/btn-alterar.png")


        .large-4.column
          .box.blue-form
            h3 Senha

            .content
              form(action="")
                .row
                  .small-3.column
                    label.inline.text-right Senha Antiga
                  .small-9.column
                    input(type="password")
                .row
                  .small-3.column
                    label.inline.text-right Senha Atual
                  .small-9.column
                    input(type="password")
                .row
                  .small-3.column
                    label.inline.text-right Confirme
                  .small-9.column
                    input(type="password")
                .row
                  .small-9.small-offset-3.column
                    input(type="image", src="img/btn-alterar.png")


      #enderecos
        .row
          .small-12.column
            h2 Endereços cadastrados para envio

        .row: .small-12.column
          ul.medium-block-grid-2.large-block-grid-3
            li
              .endereco.
                Rua souza dutra, 145. Sala 406. Ed. Beiramar Continental. Estreito, Florianópolis - SC.<br />
                CEP: 88070-605
              .btn: a(href=""): img(src="img/btn-excluir.png")
            li
              .endereco.
                Rua souza dutra, 145. Sala 406. Ed. Beiramar Continental. Estreito, Florianópolis - SC.<br />
                CEP: 88070-605
              .btn: a(href=""): img(src="img/btn-excluir.png")
            li
              .endereco.
                Rua souza dutra, 145. Sala 406. Ed. Beiramar Continental. Estreito, Florianópolis - SC.<br />
                CEP: 88070-605
              .btn: a(href=""): img(src="img/btn-excluir.png")