extends views/layout

block body
  .body-content
    section#page-title
      .row: .small-12.column: h1 Meu Carrinho

    section#pedido.main-area

      .row
        .small-12.column
          .info-pedido
            .details
              p Número do Pedido: <strong>000000</strong>
              p Status: <strong>Enviado</strong>
              p Código de Rastreamento: <strong>0000000000</strong>
            .boleto: a(href=""): img(src="img/btn-boleto.png")




      .row
        .small-12.column
          table.items-list.r-table
            thead
              tr
                th.col-item Produto
                th.col-preco.col-body Preço
                th.col-quantidade.col-body Quantidade
                th.col-preco-total.col-body Preço Total
            tbody
              tr
                td.col-item
                  .img: img(src="img/produto-cart.png")
                  .desc
                    .titulo Blusa Striped Listrado | <span class="ref">Ref: 0000</span>
                    .loja: a(href="") Mariquinhas Shop


                td.col-preco.col-body
                  .mobile-label Preço
                  .col-value R$ 30,00
                td.col-quantidade.col-body
                  .mobile-label Quantidade
                  .col-value: 1
                td.col-preco-total.col-body
                  .mobile-label Preço Total
                  .col-value R$ 30,00
              tr
                td.col-item
                  .img: img(src="img/produto-cart.png")
                  .desc
                    .titulo Blusa Striped Listrado | <span class="ref">Ref: 0000</span>
                    .loja: a(href="") Mariquinhas Shop


                td.col-preco.col-body
                  .mobile-label Preço
                  .col-value R$ 30,00
                td.col-quantidade.col-body
                  .mobile-label Quantidade
                  .col-value: 1
                td.col-preco-total.col-body
                  .mobile-label Preço Total
                  .col-value R$ 30,00

      .row

        .medium-6.medium-offset-6.column
          .totals
            .name Subtotal:
            .value R$ 30,00
          .totals.cupom
            .name Cupom:
            .value - R$ 5,00

      .row
        .small-12.column: hr.no-top


      .row
        .medium-6.column.medium-offset-6
          .totals.grand-total
            .name Valor Total
            .value R$ 30,00

      .row
        .small-12.column
          hr
          .text-center
            a(href=""): img(src="img/btn-ver-todos.png")


