extends views/layout

block body
  .body-content
    section#page-title.inst-title
      .row: .small-12.column: h1 Sobre

    section.main-area#sobre
      .row
        .large-6.column
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum dolor sit amet mauris commodo, ac hendrerit lacus interdum. Etiam mollis leo et congue cursus. Etiam pulvinar nibh et lacus porttitor, id feugiat purus viverra. Vivamus ac elit leo. Vestibulum elementum feugiat dui, in ornare est bibendum sit amet. Phasellus at sapien in turpis dapibus viverra vitae non turpis. Phasellus et magna enim. Etiam at consequat turpis, vitae egestas orci. Nam consectetur tellus arcu.
          p Pellentesque feugiat volutpat leo ac porttitor. Donec vel nibh id risus dictum iaculis. Nullam lobortis erat magna, eu interdum eros suscipit nec. Sed hendrerit congue neque eget venenatis. Suspendisse facilisis felis sed vulputate auctor. Phasellus et velit ullamcorper, viverra nibh vel, molestie neque. Donec pretium eros non nunc pulvinar aliquet.

        .large-6.column
          .text-center
            img.sobre-top(src="img/logo.png")

      .row
        .medium-4.column
          #side-nav.guia
            h2 Guia de como comprar

            ul.sobre-nav
              li.current: a(href="") Como Buscar
              li: a(href="") Como Buscar
              li: a(href="") Como Buscar
              li: a(href="") Como Buscar
              li: a(href="") Como Buscar

          #side-nav.cdl
            h2 O <strong>CDL</strong> Shopping

            ul.sobre-nav
              li.current: a(href="") Como Buscar
              li: a(href="") Como Buscar
              li: a(href="") Como Buscar
              li: a(href="") Como Buscar
              li: a(href="") Como Buscar

        .medium-8.column
          .box
            h3 Como Buscar Produtos

            .content

              .n-circle.current 1
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum dolor sit amet mauris commodo, ac hendrerit lacus interdum. Etiam mollis leo et congue cursus.

              img(src="img/banner-como-1.jpg")


