extends views/layout

block body
  .body-content
    section#page-title.inst-title
      .row: .small-12.column: h1 Tenha sua loja

    section.main-area#institucional
      .row
        .large-6.column
          h2  Venha fazer parte do maior e mais confiável Shopping Online do Brasil

          ul.green-marker
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum dolor sit amet mauris commodo, ac hendrerit lacus interdum. Etiam mollis leo et congue cursus. Etiam pulvinar nibh et lacus porttitor, id feugiat purus viverra. Vivamus ac elit leo. Vestibulum elementum feugiat dui, in ornare est bibendum sit amet.
            li Phasellus at sapien in turpis dapibus viverra vitae non turpis. Phasellus et magna enim. Etiam at consequat turpis, vitae egestas orci. Nam consectetur tellus arcu.
            li Pellentesque feugiat volutpat leo ac porttitor. Donec vel nibh id risus dictum iaculis. Nullam lobortis erat magna, eu interdum eros suscipit nec. Sed hendrerit congue neque eget venenatis. Suspendisse facilisis felis sed vulputate auctor. Phasellus et velit ullamcorper, viverra nibh vel, molestie neque. Donec pretium eros non nunc pulvinar aliquet.
        .large-6.column
          ul.green-marker
            li li Integer mauris lacus, sollicitudin vel aliquet ac, consectetur nec lacus. Ut varius, justo ultricies dapibus ultrices, arcu elit ornare nulla, vitae convallis ligula mi id sapien. Pellentesque tempor euismod ligula, eget viverra ante imperdiet a. Nunc a commodo lacus, vel pulvinar diam. Vivamus rhoncus augue quis erat tincidunt, sed tempor mi lacinia. Nunc fringilla libero at luctus consequat.

          .text-center
            img(src="img/mapa.png")


      .row.tenha-sua-loja
        .large-8.large-offset-2.column.last
          .title.text-center Cadastre sua loja em 4 passos:
          ul.cadastre-steps
            li.step.current 1
            li: img(src="img/steps-right.png")
            li.step 2
            li: img(src="img/steps-right.png")
            li.step 3
            li: img(src="img/steps-right.png")
            li.step 4
          .box.blue-form
            h3 Dados da Loja
            .content
              form(action="")
                .row
                  .small-3.column
                    label.inline.text-right Nome da Loja
                  .small-9.column
                    input(type="text")
                .row
                  .small-3.column
                    label.inline.text-right CNPJ
                  .small-9.column
                    input(type="text")
                .row
                  .small-3.column
                    label.inline.text-right Razão Social
                  .small-9.column
                    input(type="text")
                .row
                  .small-3.column
                    label.inline.text-right Nome do Responsável
                  .small-9.column
                    input(type="text")
                .row
                  .small-3.column
                    label.inline.text-right CPF
                  .small-9.column
                    input(type="text")
                .row
                  .small-3.column
                    label.inline.text-right Estado
                  .small-9.column
                    select
                      option Santa Catarina
                .row
                  .small-3.column
                    label.inline.text-right Cidade
                  .small-9.column
                    select
                      option Florianópolis
                .row
                  .small-3.column
                    label.inline.text-right Área
                  .small-9.column
                    select
                      option Selecione
                .row
                  .small-3.column
                    label.inline.text-right Descrição <br> (até 180 caracteres)
                  .small-9.column
                    textarea
                .row
                  .small-9.small-offset-3.column
                    input(type="image", src="img/btn-enviar.png")
            


