
$crumb-font-color-hover: $crumb-font-color !default;
$crumb-slash-font-size: rem-calc(15px) !default;
$crumb-label-padding: $crumb-padding !default;

@if $include-html-nav-classes {
  .breadcrumbs {
    &>* {
      color: $crumb-font-color;
      &:hover:not(.current):not(.unavailable) {
        color: $crumb-font-color-hover;
      }
      :not(.current):not(.unavailable) a:hover {
        color: $crumb-font-color-hover;
      }

      &:before {
        font-size: $crumb-slash-font-size;
      }

    }
  }

  .breadcrumbs-label {
    color: $crumb-font-color-unavailable;
    font-size: $crumb-font-size;
    text-transform: $crumb-font-transform;
    padding: $crumb-label-padding;
  }
}