
$icon-iconized-input-height: 29px !default;
$icon-iconized-height: 19px !default;
$icon-iconized-width: 20px !default;

$icon-iconized-top: $icon-iconized-input-height / 2 - $icon-iconized-height / 2 !default;
$icon-iconized-right: 5px !default;
$icon-iconized-padding: $icon-iconized-width + $icon-iconized-right * 2 !default;

.input-iconized {
  position: relative;
  i {
    position: absolute;
    right: $icon-iconized-right;
    top: $icon-iconized-top;
  }
  input {
    padding-right: $icon-iconized-padding;
  }
}