
$icon-sprite-dimensions: true;
$icon-sprite-base-class: ".icon-base";
$icon-layout: smart;


.icon-base {
  @include inline-block;
  vertical-align: middle;
}

@import "icon/*.png";
@include all-icon-sprites;

.icon-prepend {
  .icon-base { margin-right: 10px; }
}
.icon-append {
  .icon-base {margin-left: 10px;}
}