@mixin lib-top-bar-custom-height(
  $mainmenu-height: 60px,
  $mainmenu-input-height: 40px ) {
  @extend .contain-to-grid;

  $mainmenu-button-top: ($mainmenu-height - $mainmenu-input-height) / 2;

  .top-bar {
    overflow: hidden;

    &.expanded {
      height: auto;
    }

    height: $mainmenu-height;
    line-height: $mainmenu-height;

    .name {
      height: $mainmenu-height;

      h1 {
        line-height: $mainmenu-height;
      }
    }

    .toggle-topbar {
      a {
        height: $mainmenu-height;
      }
    }

    .top-bar-section {

      .dropdown li.title h5 a {
        line-height: $mainmenu-height / 2;
      }
    }

    input {
      height: $mainmenu-input-height;
      line-height: $mainmenu-input-height;
    }

    @media #{$topbar-media-query} {
      input,
      .button {
        top: $mainmenu-button-top;
      }


      .top-bar-section {
        li {
          &:not(.has-form) a:not(.button) {
            line-height: $mainmenu-height;
          }

          &.active:not(.has-form) a:not(.button) {
            line-height: $mainmenu-height;
          }

        }

        .has-dropdown {
          @if($topbar-arrows){
            & > a:after {
              top: $mainmenu-height / 2;
            }
          }
        }

        & > ul > .divider,
        & > ul > [role="separator"] {
          height: $mainmenu-height;
        }

        .has-form {
          padding: 0 $mainmenu-height / 3;
          height: $mainmenu-height;
        }
      }

    }

  }

}

@mixin lib-top-bar-custom-color(
  $custom-topbar-bg-color,
  $custom-topbar-bg,
  $custom-topbar-dropdown-bg,
  $custom-topbar-dropdown-link-bg,
  $custom-topbar-link-bg-hover,
  $custom-topbar-dropdown-label-color,
  $custom-topbar-dropdown-label-bg,
  $custom-topbar-menu-link-color,
  $custom-topbar-menu-icon-color,
  $custom-topbar-menu-link-color-toggled,
  $custom-topbar-menu-icon-color-toggled,
  $custom-topbar-link-color,
  $custom-topbar-link-color-hover,
  $custom-topbar-link-bg-active,
  $custom-topbar-link-color-active,
  $custom-topbar-link-color-active-hover,
  $custom-topbar-dropdown-toggle-color,
  $custom-topbar-link-bg,
  $custom-topbar-dropdown-link-color
  ) {

  $custom-topbar-link-bg-active-hover: darken($custom-topbar-bg-color, 5%);


  background: $custom-topbar-bg;

  .top-bar {
    background: $custom-topbar-bg;

    .name h1 a {
      color: $custom-topbar-link-color;
    }

    .toggle-topbar {
      a{
        color: $custom-topbar-link-color;
      }
      &.menu-icon a {
        color: $custom-topbar-menu-link-color;

        &:after {
          @if $experimental {
            -webkit-box-shadow: 1px 10px 1px 1px $custom-topbar-menu-icon-color,
            1px 16px 1px 1px $custom-topbar-menu-icon-color,
            1px 22px 1px 1px $custom-topbar-menu-icon-color;
          }
          box-shadow:         0 10px 0 1px $custom-topbar-menu-icon-color,
          0 16px 0 1px $custom-topbar-menu-icon-color,
          0 22px 0 1px $custom-topbar-menu-icon-color;
        }
      }
    }

    &.expanded {
      .title-area { background: $custom-topbar-bg; }

      .toggle-topbar {
        a { color: $custom-topbar-menu-link-color-toggled;
          &::after {
            // Shh, don't tell, but box-shadows create the menu icon :)
            @if $experimental {
              -webkit-box-shadow: 1px 10px 1px 1px $custom-topbar-menu-icon-color-toggled,
              1px 16px 1px 1px $custom-topbar-menu-icon-color-toggled,
              1px 22px 1px 1px $custom-topbar-menu-icon-color-toggled;
            }
            box-shadow:         0 10px 0 1px $custom-topbar-menu-icon-color-toggled,
            0 16px 0 1px $custom-topbar-menu-icon-color-toggled,
            0 22px 0 1px $custom-topbar-menu-icon-color-toggled;
          }
        }
      }
    }
  }

  .top-bar-section {
    ul {
      background: $custom-topbar-dropdown-bg;
    }

    ul li {
      & > a {
        color: $custom-topbar-link-color;
        background: $custom-topbar-dropdown-bg;
      }

      // Apply the hover link color when it has that class
      &:hover:not(.has-form) > a {
        background: $custom-topbar-link-bg-hover;
        color: $custom-topbar-link-color-hover;

      }

      // Apply the active link color when it has that class
      &.active > a {
        background: $custom-topbar-link-bg-active;
        color: $custom-topbar-link-color-active;
        &:hover {
          background: $custom-topbar-link-bg-active-hover;
          color: $custom-topbar-link-color-active-hover;
        }
      }
    }

    .has-dropdown {
      & > a {
        &:after {
          @if ($topbar-arrows){
            @include css-triangle($topbar-dropdown-toggle-size, rgba($custom-topbar-dropdown-toggle-color, $topbar-dropdown-toggle-alpha), $default-float);
          }
        }
      }
    }

    .dropdown {
      li {
        &.title h5 {
          a {
            color: $custom-topbar-link-color;
          }
        }
      }

      label {
        color: $custom-topbar-dropdown-label-color;
      }
    }
  }

  @media #{$topbar-media-query} {
    .top-bar {
      background: $custom-topbar-bg;
      &.expanded { background: $custom-topbar-bg; }
    }

    .top-bar-section {
      li {
        &.hover {
          > a:not(.button) {
            background: $custom-topbar-link-bg-hover;
            color: $custom-topbar-link-color-hover;
          }
        }

        &:not(.has-form) {
          a:not(.button) {
            background: $custom-topbar-link-bg;
            &:hover { background: $custom-topbar-link-bg-hover; }
          }
        }

        &.active:not(.has-form) {
          a:not(.button) {
            color: $custom-topbar-link-color-active;
            background: $custom-topbar-link-bg-active;
            &:hover { background: $custom-topbar-link-bg-active-hover; }
          }
        }
      }

      .has-dropdown {
        @if($topbar-arrows){

          & > a {
            &:after {
              @include css-triangle($topbar-dropdown-toggle-size, rgba($custom-topbar-dropdown-toggle-color, $topbar-dropdown-toggle-alpha), top);
            }
          }
        }
      }

      .dropdown {
        li {
          a {
            color: $custom-topbar-dropdown-link-color;
            background: $custom-topbar-dropdown-link-bg;
          }

          label {
            background: $custom-topbar-dropdown-label-bg;
          }
        }
      }

      .has-form {
        background: $custom-topbar-link-bg;
      }
    }
  }


  .no-js .top-bar-section {
    ul li {
      // Apply the hover link color when it has that class
      &:hover > a {
        background: $custom-topbar-link-bg-hover;
        color: $custom-topbar-link-color-hover;
      }

      // Apply the active link color when it has that class
      &:active > a {
        background: $custom-topbar-link-bg-active;
        color: $custom-topbar-link-color-active;
      }
    }

  }


}