doctype html
html(class="no-js", lang="pt_BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CDL Shopping
    meta(name="description", content="")
    link(rel="stylesheet", href="css/app.css")
    script(src="bower_components/modernizr/modernizr.js")
  body.antialiased

    header.hide-for-large-up
      .sticky
        nav.top-bar(data-topbar, data-options="custom_back_text: false; mobile_show_parent_link: false")
          ul.title-area
            li.name: h1: a(href="javascript:void(0)"): img(src="img/logo-small.png")
            li.toggle-topbar.menu-icon: a(href="javascript:void(0)"): span &nbsp;

            li.navi
              ul
                li
                  a(href="javascript:void(0)")#search-small-btn: i.icon-search
                li: a(href="#")
                  i.icon-cart
                  span.count-cart 3
                li: a(href="javascript:void(0)")#profile-small-btn: i.icon-person
          section.top-bar-section
            ul.right
              li.active: a(href="#") Menu
              li: a(href="#") Menu 2
              li: a(href="#") Menu 2
              li.has-dropdown
                a(href="javascript:void(0)") Menu 3
                ul.dropdown
                  li: a(href="#") Dropdown 1
                  li: a(href="#") Dropdown 2
                  li: a(href="#") Dropdown 3
        #search-small.hide
          i.icon-arr-up
          label O que você está procurando?
          input(type="search", placeholder="faça sua busca")

        #profile-small.hide
          i.icon-arr-up
          label Faça o seu login!
          input(type="email", placeholder="EMAIL")
          input(type="password", placeholder="SENHA")

          button.small.expand(type="submit") ENTRAR

          .helpers
            .title Ainda não possui uma conta?
            .link: a(href="#") Cadastre-se

            .title Esqueci minha senha!
            .link: a(href="#") Resgate de senha

    header.show-for-large-up

      .row: .large-12.column
        nav.top-nav
          section.left
            span Você está vendo lojas de
            .city-selector
              .selected Florianópolis
              .options
                .option São José
                .option Palhoça
                .option Biguaçu
                .option Curitiba
                .option São Paulo
          section.right
            a(href="") Painel do Lojista
            a(href="").green-top-button Abra sua Loja

      .container
        .row.title-area
          .large-4.column: a(href="#"): img(src="img/logo.png")

          .large-5.column.search-area
            ul.inline-list.search-menu
              li: a(href="") Meu Cadastro
              li: i.icon-bullet
              li: a(href="") Meus Pedidos
              li: i.icon-bullet
              li: a(href="") Central de Atendimento
            form.search-form(action="", method="")
              input.search-input(type="search", placeholder="Faça sua busca...")
              input.search-btn(type="image", src="img/btn-search.png")




          .large-3.column.text-right: a.button.small.cart-button(href="#")
            i.icon-mini-cart
            span Meu Carrinho (2)


      .container.top-menu-container
        .row.large-12
          nav.top-menu
            ul
              li
                a(href="") Mulheres


              li
                a(href="") Homens
              li
                a(href="") Crianças
              li
                a(href="") Bebês
              li
                a(href="") Casa e Decoração

                .dropdown
                  .left
                    .category-title
                      img(src="img/category-icon.png")
                      span Casa e Decoração


                    ul.subcategories
                      li
                        a(href="") Ambientes
                        ul.sub-items
                          li: a(href="") Banheiro
                          li: a(href="") Cozinha
                          li: a(href="") Escritório
                          li: a(href="") Infantil
                          li: a(href="") Sala de Estar
                          li: a(href="") Sala de Jantar
                          li: a(href="") Varanda
                      li
                        a(href="") Móveis
                        ul.sub-items
                          li: a(href="") Araras
                          li: a(href="") Estantes
                          li: a(href="") Bancos
                          li: a(href="") Mesas
                          li: a(href="") Cadeiras
                          li: a(href="") Sofás
                          li: a(href="") Poltronas
                          li: a(href="") Racks
                          li: a(href="") Puffs
                          li: a(href="") Prateleiras

                      li
                        a(href="") Decoração
                        ul.sub-items
                          li: a(href="") Adesivos
                          li: a(href="") Almofadas
                          li: a(href="") Bandejas
                          li: a(href="") Porta-retratos
                          li: a(href="") Cerâmica
                          li: a(href="") Vasos

                      li
                        a(href="") Utilidades
                        ul.sub-items
                          li: a(href="") Canecas
                          li: a(href="") Copos
                          li: a(href="") Jarras
                          li: a(href="") Xícaras
                          li: a(href="") Taças
                          li: a(href="") Aparelhos de Jantar
                  .right
                    img(src="http://placehold.it/335x390&text=Área+para+foto")
              li
                a(href="") Informática e Eletrônicos
              li
                a(href="") Beleza e Saúde
              li
                a(href="") Diversão e Cultura
              li
                a(href="") Alimentos e Bebidas


    block body

    footer.show-for-medium-up
      .row.steps
        .medium-12.column
          h3.title-steps Como <strong>Comprar</strong> no shopping
            .img-steps: img(src="img/steps.png")

      .row.institucional
        .medium-12.large-8.column
          .clearfix.inst-block-container
            .inst-block.left
              .inst-title O CDL <br /> SHOPPING
              ul.inst-list
                li: a(href="") Sobre
                li: a(href="") Tenha a sua loja
                li: a(href="") Diga-nos o que você acha
                li: a(href="") Na mídia
                li: a(href="") Termos de uso
            .inst-block.left
              .inst-title Serviço de apoio <br />ao consumidor
              ul.inst-list
                li: a(href="") Entre em contato
                li: a(href="") Perguntas Frequentes
                li: a(href="") Proteção ao Consumidor
                li: a(href="") Assine nossa Newsletter
                li: a(href="") Minha Conta
            .inst-block.left
              .inst-title Redes <br /> Sociais
              ul.inst-list.social
                li: a(href="") <img src="img/facebook.png" /> Facebook
                li: a(href="") <img src="img/youtube.png" /> You Tube
                li: a(href="") <img src="img/twitter.png" /> Twitter
          .row
            .medium-6.column: a(href=""): img(src="img/logo.png")
            .medium-6.column.footer-desc.
              O shopping cdl é uma parceria entre
              lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam non.
        .large-4.column.show-for-large-up
          .note
            .tape
            .note-social-embeed.
              <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FCDLShopping&amp;width&amp;height=346&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=419655808071325" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:346px;" allowtransparency="true"></iframe>
      .container-footer
        .row
          .column.medium-12.clearfix
            .left
              img(data-interchange="[img/pagamento-small.png,(default)], [img/pagamento-large.png,(large)]")
            .left.navegue
              label Navegue pelas lojas por aqui:
                .city-selector
                  .selected Florianópolis
                  .options
                    .option São José
                    .option Palhoça
                    .option Biguaçu
                    .option Curitiba
                    .option São Paulo
            .right
              img(src="img/apoio-cdl.png")

    footer.show-for-small-only
      .row.bottom-space
        .small-12.column.text-center
          a(href=""): img(src="img/logo.png")
      .row.bottom-space.social-networks
        .small-12.column.text-center
          a.space-sides(href=""): img(src="img/facebook.png")
          a.space-sides(href=""): img(src="img/youtube.png")
          a.space-sides(href=""): img(src="img/twitter.png")
      .row.bottom-space.navegue
        .small-12.column
          label Navegue pelas lojas por aqui:
            .city-selector
              .selected Florianópolis
              .options
                .option São José
                .option Palhoça
                .option Biguaçu
                .option Curitiba
                .option São Paulo
      .row
        .small-12.column.text-center
          .bottom-space: img(src="img/pagamento-small.png")
          .bottom-space: img(src="img/apoio-cdl.png")


    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/foundation/js/foundation.min.js")
    script(src="js/cardcheck.min.js")
    script(src="js/app.js")