/* ===========================
 *    Cart
 * =========================== */



.items-list {

  .quantidade {
    width: 33px;
    border: 1px solid #acacac;
    height: 35px;
    text-align: center;
    margin: 0px;
    display: inline-block;
  }

  .col-item {
    .img {
      @include inline-block;
    }
    .desc {
      @include inline-block;
      padding-left: 20px;
      .titulo {
        margin-bottom: 15px;
        text-transform: uppercase;
        color: #707070;
        font-size: 14px;
        font-weight: bold;

        .ref {
          text-transform: none;
          font-weight: normal;
        }
      }
      .loja {
        a {
          color: #418dcb;
          font-size: 13px;
        }

      }
    }
  }


  .col-item {
    @include clearfix;
    .img {
      @include float-left;
      padding-right: 20px;
    }
    .desc {
      display: block;
      padding-top: 20px;
    }

  }


  @media #{$medium-up} {
    .col-preco { width: 120px; }
    .col-quantidade { width: 130px; }
    .col-preco-total { width: 130px;  }
    .col-remover { width: 50px; }
  }

}

.cart-form {
  @include clearfix;

  width: 297px;
  margin: 0 auto;

  label {
    @include float-left;

    color: $primary-color;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    width: 70px;
    margin-right: 10px;
    text-align: right;
    padding-top: 2px;
  }
  .input {
    @include float-left;
    input {
      border: 2px solid $primary-color;
      font-size: 12px;
      color: #919191;
      text-transform: uppercase;
      height: 31px;
      max-width: 120px;
    }
  }
  .btn {
    @include float-left;
    margin-left: 10px;

  }
}

.totals {
  @include clearfix;
  line-height: 31px;
  margin-bottom: 16px;
  .name {
    @include float-left;
    color: #6f6f6f;
    font-size: 14px;
    text-transform: uppercase;
    width: 50%;

    @media #{$medium-up} {
      text-align: right;
    }

  }
  .value {
    @include float-right;
    color: #6f6f6f;
    font-size: 14px;
    text-transform: uppercase;
    width: 50%;
    text-align: right;
  }

  &.cupom {
    .name, .value {
      color: #919191;
    }
  }

  &.grand-total {
    margin-bottom: 0px;
    .name, .value {
      color: $secondary-color;
      font-size: 18px;
    }
  }
}
