/* ===========================
 *    Checkout
 * =========================== */

#checkout {
  label.radio {
    color: #b5b5b5;
    font-size: 14px;
  }

  label.pgto-option {
    margin-bottom: 15px;
    input {
      margin-bottom: 0px;
    }
  }

  #accepted-cards-images {
    margin-bottom: 15px;
  }

  .box {
    &.no-padding {
      > .content {
        padding: 0px;
      }
    }
    > .content {
      padding: 20px;
    }
  }

  .vencimento-container {
    @include clearfix;
    margin-left: -10px;
    .input {
      @include float-left;
      width: 50%;
      padding-left: 10px;
    }
  }

  .cvv-container {
    @include clearfix;
    input {
      @include float-left;
      width: 50%;
      margin-right: 10px;
    }
  }

  .item {
    @include clearfix;
    padding: 20px 20px 15px 11px;
    border-bottom: 2px solid #e6e6e6;

    .img {
      @include float-left;
    }
    .desc {
      margin-left: 80px;
      line-height: 1;

      .titulo {
        color: #707070;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px;
        .ref {
          text-transform: none;
          font-weight: normal;
        }
      }
      .loja {
        color: $primary-color;
        font-size: 13px;
        margin-bottom: 5px;

      }
      .qtd {
        color: #707070;
        font-size: 12px;
        font-weight: bold;
      }
      .preco {
        color: #6f6f6f;
        font-size: 16px;
        @include float-right;
      }

    }

  }

  .form-revisao {
    padding: 25px 2px;
  }

  .totals {
    margin-bottom: 0px;
    line-height: 1.6em;
  }

  .tipo-pagamento {
    input, select {
      margin-bottom: 10px;
    }

    input {
      border: 2px solid #e1e1e1;
      @include box-shadow(none);
    }

    select {
      color: #999;
      background-color: #fff;
      border: 2px solid #e1e1e1;
    }

  }

  .pgto-option:last-child {
    margin-top: 10px;
    margin-bottom: 0px;
  }


}