/* ===========================
 *    Confirmacao
 * =========================== */


#confirmacao {
  h2 {
    color: #fd8d61;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }

  .confirmacao-box {
    border: 2px solid #e6e6e6;
    padding: 30px;
    color: #adadad;
    font-size: 14px;
    text-align: center;

    .btn-boleto {
      margin-bottom: 30px;
    }

    a {
      text-transform: uppercase;
      font-style: underline;
      color: $secondary-color;
    }

    p:last-child {
      margin-bottom: 0px;
    }
  }
  .confirmacao-btn {
    text-align: center;
    margin-top: 30px;
  }
}