/* =========
 *    Home
 * ========= */

/*
 * === Slider Topo ===
 */

.slider-top {
  @include box-shadow(0 0 18px rgba(0,0,0,.25));

  border: 6px solid #fff;
  margin-bottom: 30px;
  text-align: center;
  background: #Fff;
}

/*
 * === Lojas em Destaque ===
 */

#lojas-destaque {
  margin-bottom: 20px;

  h2 {
    color: $primary-color;
    font-weight: bold; text-transform: uppercase; text-align: center; font-size: 20px;

    @media #{$medium-up} {
      margin-bottom: 0px; padding-bottom: 5px;
      background: #fff;
      font-size: 30px;
    }
  }
}

// === Slider de Lojas - Mobile ===

.slider-lojas {
  @include box-shadow(0 1px 5px rgba(14,15,15,.2));

  background: #fff;

  .logo-loja {
    padding-top: 15px; padding-bottom: 15px;
    line-height: 40px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
  }

  .orbit-slides-container img { display: inline-block; }

  .orbit-next {
    top: 18px; right: 10px;
    width: 17px; height: 35px;
    margin-top: 0px;
    line-height: 35px;

    span {
      background: image-url('slider-right.png');
      position: static; width: 17px; height: 35px;
      left: auto; top: auto;
      border: 0px;
      margin: 0px;
    }

    &:hover {
      background: transparent;
      span { border: 0px; }
    }
  }

  .orbit-prev {
    width: 17px; height: 35px;
    left: 10px; top: 18px;
    margin-top: 0px;
    line-height: 35px;

    span {
      background: image-url('slider-left.png');
      position: static; top: auto; left: auto; right: auto;
      width: 17px; height: 35px;
      border: 0px;
      margin: 0px;
    }

    &:hover {
      background: transparent;
      span { border: 0px; }
    }
  }
}

// === Box de lojas - Large ===

.lojas-destaque {
  @include box-shadow(0 1px 5px rgba(14,15,15,.2));

  background: #fff;

  .header {
    border-bottom: 1px solid #e6e6e6;

    ul {
      @include reset-list-style;
      overflow: hidden;
      margin: 0px; padding: 0px;
      height: 75px;

      li {
        @include float-left;
        cursor: pointer;
        text-align: center;
        padding: 15px;
        line-height: 40px;
        border-bottom: 4px solid #fff;

        &:hover, &.active { border-bottom: 4px solid #fe8d61; }

        &+li { border-left: 1px solid #e6e6e6; }

      }
    }
  }

  .store-details {
    padding-top: 80px; padding-left: 45px; padding-bottom: 70px;

    .main-logo { margin-bottom: 40px; }

    .desc {
      margin-bottom: 40px;
      line-height: 23px;
      color: #707070; font-family: "Arial", sans-serif; font-size: 13px;
    }

    .btn { margin-bottom: 40px; }

    .bc {
      color: #418ecc; font-size: 13px; text-transform: uppercase;
      line-height: 23px;

      .p, .s, .c { padding: 0px 4px; }
      .s { color: #fe8d61; }
      .c { font-size: 15px; font-weight: bold; }
    }
  }

  .store-products { padding-top: 50px; padding-right: 25px; padding-bottom: 30px; }
}


// == Slide de produtos ==

.slider-produtos {

  .slider-lista-produtos {
    padding-right: 10px; padding-left: 10px;
    @media #{$large-up} { padding-right: 40px; padding-left: 40px; }
  }

  .orbit-slides-container img { display: inline-block; }

  .orbit-next {
    width: 17px; height: 35px;
    right: 10px;
    line-height: 35px;

    span {
      background: image-url('slider-right.png');
      position: static; left: auto; top: auto;
      width: 17px; height: 35px;
      border: 0px;
      margin: 0px;
    }

    &:hover {
      background: transparent;
      span { border: 0px; }
    }
  }

  .orbit-prev {
    left: 10px;
    width: 17px; height: 35px;
    line-height: 35px;

    span {
      background: image-url('slider-left.png');
      position: static; left: auto; right: auto; top: auto;
      width: 17px; height: 35px;
      border: 0px;
      margin: 0px;
    }

    &:hover {
      background: transparent;
      span { border: 0px; }
    }
  }
}

// == Listagem de produtos na Home ==

.display-title {
  background: image-url('bg-title.png') no-repeat left;
  color: #418dcb; font-size: 20px; font-weight: bold; text-transform: uppercase;
  padding-left: 60px; padding-bottom: 10px; padding-top: 20px;
  margin-bottom: 20px;
}

#display {
  margin-bottom: 20px;

  .display-btn { margin-top: 15px; }

  .slider-produtos {
    @include box-shadow(0 1px 5px rgba(14,15,15,.2));

    background: #fff;
  }
}

// == Box - Encontre uma loja ==

#encontre {
  margin-bottom: 20px;

  .encontre-title {
    background: image-url('bg-encontre-titulo.png') no-repeat left;
    padding-left: 80px; padding-bottom: 20px; padding-top: 30px;
    color: #418dcb; font-size: 30px; font-weight: bold; text-transform: uppercase;
    margin-bottom: 20px;
  }

  .store-details {
    padding-top: 60px; padding-bottom: 0px; padding-right: 45px;
    .desc {
      margin-bottom: 25px;
      font-weight: bold;
    }
  }

  .store-products { padding-top: 0px; }
}

.encontre-nav {
  @include clearfix;

  label {
    @include float-left;
    color: #bfbfbf; font-size: 13px; line-height: 35px;
    margin-right: 3px;
  }

  .input {
    @include float-left;

    margin-right: 3px;

    input {
      background: transparent;
      height: 32px; width: 180px;
      border: 2px solid #e4e4e4;
      color: #878787; font-size: 12px;
    }
  }

  .btn { @include float-left; }

  span {
    @include float-left;
    line-height: 35px; padding-right: 3px;
  }

  nav {
    @include float-left;

    ul {
      @include reset-list-style;

      margin: 0px; padding: 0px;
      li { @include float-left; }
    }
  }

  .btn-all { @include float-left; }
}

// == Icones - Ajuda ==

#abra { margin-bottom: 35; }
#help { margin-bottom: 55px; }