/* ===========================
 *    Listagem de Produtos
 * =========================== */

#breadcrumbs { background: #fff; border-bottom: 3px solid #e6e6e6; margin-top: -29px; }

#listagem {
  background: #fff;
  padding-top: 15px; padding-bottom: 40px;
  margin-bottom: -30px;

  .produto-box { border: 1px solid #f5f5f5; }
  .publicidade { margin-bottom: 20px; }
}

/*
 * === Nome da Loja ===
 */

#header-loja {
  @include clearfix;

  margin-top: 20px; margin-bottom: 20px;
  border: 2px solid #e6e6e6;

  .logo {
    padding: 37px;
    width: 100%;
    text-align: center;

    @media #{$medium-up} { @include float-left; width: 27.5934%; }
  }

  .banner {
    display: none;

    @media #{$medium-up} { @include float-right; width: 72.4066%; }
  }
}


/*
 * === Navegacao - Paginacao - Ordenacao ===
 */

.navigation {

  border-bottom: 3px solid #e6e6e6;
  padding-top: 10px; padding-bottom: 10px;

  &.bottom { border-top: 3px solid #e6e6e6; border-bottom: 0px; }

  .nav-filter {

    .filtro { display: block; margin-left: -4px; }

    label {
      @include inline-block;

      color: #fd8d61; font-size: 12px; text-transform: uppercase;
      vertical-align: middle;
      width: 140px;
      margin-left: 4px;
    }

    .input {
      @include inline-block;

      vertical-align: middle;
      margin-left: 4px;

      select {
        height: 23px; width: auto;
        padding: 3px 25px 3px 8px;
        font-size: 12px;
        vertical-align: middle;
        margin: 0px;
      }
    }

    span { display: none; }
  }

  .nav-pagination {
    margin-top: 20px;

    .pagination-centered { text-align: left; }
    .pagination { margin-bottom: 0px; }
  }

  @media #{$medium-up} {
    .medium-8 { width: auto; }
    .medium-4 { width: auto; }

    .nav-pagination {
      margin-top: 0px;
      .pagination-centered { text-align: right; }
    }
  }

  @media #{$large-up} {
    .nav-filter {
      .filtro { @include inline-block; }
      label { width: auto; }
      span {
        @include inline-block;
        color: #999; font-size: 11px; line-height: 11px;
        margin-left: 4px; margin-right: 4px;
        vertical-align: middle;
      }
    }
  }
}

.number-results {
  padding-top: 20px; padding-bottom: 20px;
  color: #919191; font-size: 13px;
}

/*
 * == Navegacao Lateral
 */

#side-nav {
  border: 2px solid #e6e6e6;
  padding-top: 14px;

  h2 {
    margin: 0px; margin-left: -1px; margin-bottom: 17px;
    padding-left: 8px;
    color: #fd8d61; font-size: 18px; font-weight: bold; text-transform: uppercase;
    border-left: 8px solid #fe8d61;
  }

  h3 {
    background: image-url("y-arrow-down.png") no-repeat #fe8d61 5px;
    color: #fff; font-size: 14px; font-weight: bold; text-transform: uppercase;
    padding-left: 25px; padding-top: 8px; padding-bottom: 8px;
    margin-left: -1px; margin-right: -1px;
  }

  .filtro-form {
    padding-right: 27px; padding-top: 15px; padding-bottom: 30px;

    .small-8 { padding-left: 0px; }

    label {
      color: $primary-color; font-size: 12px; text-transform: uppercase;
      padding: 5px 0;
      margin-bottom: 10px;
    }

    input {
      border: 2px solid $primary-color;
      height: 30px;
      margin-bottom: 10px;
    }
  }


  .filtro-tree {
    padding-left: 10px; padding-bottom: 40px; padding-top: 5px;

    @media #{$large-up} { padding-left: 37px; }

    > ul {
      @include reset-list-style;

      padding: 0px; margin: 0px;

      > li {
        margin-top: 10px;

        &.open {
          > a { background: image-url('b-arrow-down.png') left no-repeat; }
          > ul { display: block; }
        }

        > a {
          background: image-url('b-arrow-right.png') left no-repeat;
          font-weight: bold; font-size: 14px; color: $primary-color; text-transform: uppercase;
          padding-left: 20px;

          strong { color: #919191; }
        }

        > ul {
          @include reset-list-style;

          padding: 0px;
          margin: 0px; margin-left: 10px;
          display: none;

          @media #{$large-up} { margin-left: 20px; }

          > li {
            margin-top: 0px;

            > a { color: #919191; font-size: 12px; font-weight: bold; }
          }
        }
      }
    }
  }

  .filtro-list {
    padding-left: 10px; padding-bottom: 40px; padding-top: 5px;

    @media #{$large-up} { padding-left: 37px; }

    ul {
      @include reset-list-style;
      padding: 0px;
      margin: 0px; margin-left: 0px;

      @media #{$large-up} { margin-left: 20px; }

      > li {
        margin-top: 0px;

        > a { color: #919191; font-size: 12px; font-weight: bold; }
      }
    }
  }
}