/* ===========================
 *      Checkout: Login
 * =========================== */

#checkout-steps {
  background: #e6e6e6;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #adadad;
  font-size: 18px;
  text-transform: uppercase;

  .current {
    font-size: 24px;
    color: $primary-color;
    padding: 0px 5px;
  }
}




#login {

  h2 {
    color: #adadad;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  p {
    color: #adadad;
    font-size: 14px;
  }

  .box {
    > .content {
      padding: 50px 70px;
    }
  }
}