/* ===========================
 *    Meus Dados
 * =========================== */

#enderecos {
  margin-top: 30px;
  h2 {
    color: $secondary-color;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 20px;
  }
  .endereco {
    color: #8d8d8d;
    font-size: 13px;
    margin-bottom: 15px;
  }
  .btn {

  }
}