/* ===========================
 *    Meus Pedidos
 * =========================== */

.status-doing {
  color: $primary-color;
}

#meus-pedidos {

  .r-table {
    @media #{$medium-up} {
      .col-data {
        width: 130px;
      }
      .col-total {
        width: 140px;
      }
      .col-status {
        width: 250px;
      }
      .col-action {
        width: 130px;
      }
    }
  }
}
