/* ===========================
 *    Meu Pedido
 * =========================== */


.info-pedido {
  margin-bottom: 30px;


  .details {
    margin-bottom: 20px;
  }

  .boleto {
    text-align: center;
  }

  @media #{$medium-up} {
    .details {
      @include inline-block;
      vertical-align: middle;
      padding-right: 20px;
      border-right: 1px solid #707070;
      margin-bottom: 0px;
    }
    .boleto {
      @include inline-block;
      vertical-align: middle;
      padding-left: 20px;
      text-align: left;
    }
  }

  p {
    color: #6f6f6f;
    font-size: 16px;
    margin-bottom: 0px;
    line-height: 23px;

    strong {
      color: $secondary-color;
      font-weight: normal;
    }
  }

}